
#refresh_button, #refresh_button2 {
    margin: 5px;
    cursor: pointer;
}

#name_button {
    background: #666;
    color: #fff;
    padding: 0!important;
    margin: 0!important;
    margin-left: 5px!important;
    height: 0.8em;
    width: 0.8em;
    font-size: 0.8em;
    line-height: 0.8em;
    -webkit-transition: all;
    -moz-transition: all;
    transition: all;
}
#name_button:hover {
    background: #ddd;
    color: #444;
    padding: 3px;
    -webkit-transition: all;
    -moz-transition: all;
    transition: all;
    cursor: pointer;
}

#name_label:before {
    content: "“";
}
#name_label:after {
    content: "”";
}
#name_label {
    font-style: italic;
}

#settings_button {
    color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
#settings_button:hover {
    color: #fff!important;
    background-color: #00aed4!important;
}


#chat_file_link {
    position: relative;
    top: 7px;
}

#chat_text {
    position: relative;
    top: 10px;
    width: 570px;
}
