
#refresh_button, #refresh_button2 {
    margin: 5px;
    cursor: pointer;
}

#name_button {
    background: #666;
    color: #fff;
    padding: 0!important;
    margin: 0!important;
    margin-left: 5px!important;
    height: 0.8em;
    width: 0.8em;
    font-size: 0.8em;
    line-height: 0.8em;
    -webkit-transition: all;
    -moz-transition: all;
    transition: all;
}
#name_button:hover {
    background: #ddd;
    color: #444;
    padding: 3px;
    -webkit-transition: all;
    -moz-transition: all;
    transition: all;
    cursor: pointer;
}

#name_label:before {
    content: "“";
}
#name_label:after {
    content: "”";
}
#name_label {
    font-style: italic;
}

/*.dropdown_btn {
    color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}*/
.dropdown_btn:hover {
    color: #000!important;
}

#toast-container {
    min-width: 8%;
    top: 10%;
    right: 7%;
    display: block;
    position: fixed;
    z-index: 10000;
}

.toast {
    cursor: default;
    border-radius: 2px;
    top: 0;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #962323; /* #323232 */
    padding: 0 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.emoji {
  display: inline-block;
  width: 32px;
  height: 32px;
}
