.refresh-button {
    background: red;
    color: white;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.toggle-button {
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    color: white;
    padding: 5px;
    margin: 0px;
    cursor: pointer;
}
.toggle-button.off {
    background: red;
}

#alias_button {
    background: #666;
    color: #fff;
    padding: 0!important;
    margin: 0!important;
    margin-left: 5px!important;
    height: 0.8em;
    width: 0.8em;
    font-size: 0.8em;
    line-height: 0.8em;
    -webkit-transition: all;
    -moz-transition: all;
    transition: all;
}
#alias_button:hover {
    background: #ddd;
    color: #444;
    padding: 3px;
    -webkit-transition: all;
    -moz-transition: all;
    transition: all;
    cursor: pointer;
}

#alias_label:before {
    content: "“";
}
#alias_label:after {
    content: "”";
}
#alias_label {
    font-style: italic;
}
